
<div class="music-boxe row-display ">
    <div class="column-display positions-container">
        <button *ngIf="index!=0" class="green-icon icon-button" (click)="moveUpMusic()">
            <ng-icon name="heroChevronUpSolid" color="var(--color-green)" size="40"/>
        </button>
        <button *ngIf="index!=maxIndex-1" class="green-icon icon-button" (click)="moveDownMusic()">
            <ng-icon name="heroChevronDownSolid" color="var(--color-green)" size="40"/>
        </button>
    </div>
    <div class=" img-tit-art-container">
        <div *ngIf="music.image">
            <p>music.image</p>
        </div>
        <div class="column-display">
            <p>Title: {{music.title}}</p>
            <p>Artist: {{music.artist}}</p>
        </div>
    </div>
    <div class="reading-container">
        <app-music-reader [music]="music"/>
    </div>
    
    <ngx-popover #popover position="left" [bindTo]="popoverButton" [value]="popoverOpened" disabled="true"
    (clickOutside)="countPlusOutside($event)" (valueChange)="setPopoverValue($event)">    
        <div #popoverButton>
            <button class="info-icon-container dark-blue-icon red-icon icon-button" (click)="popoverOpened ? closePopover() : popover.open()"
            ngxTooltip [template]="popoverOpened ? tooltipNot : tooltipInfos">
                <ng-icon *ngIf="popoverOpened" name="heroXMarkSolid" color="var(--color-red)" size="70"/>  
                <ng-icon *ngIf="!popoverOpened" name="heroInformationCircle" color="var(--color-d-blue)" size=70/>
            </button> 
        </div>  
         
        <ng-template ngx-popover-template>
            <div class="window-item popover-container column-display">          
                <div class="row-display space-between-container">
                    <p>Title:</p>
                    <input class="info-bar" [(ngModel)]="music.title" placeholder="Title" type="text"/>
                </div>
                <div class="row-display space-between-container">
                    <p>Artist:</p>
                    <input class="info-bar" [(ngModel)]="music.artist" placeholder="Artist" type="text"/>
                </div>
                <div class="row-display space-between-container">
                    <p>Album:</p>
                    <input class="info-bar" [(ngModel)]="music.album" placeholder="Album" type="text"/>
                </div>
                <div class="row-display space-between-container">
                    <p>N°:</p>
                    <input class="info-bar" [(ngModel)]="music.number" placeholder="Number" type="text"/>
                </div>
                <div class="row-display space-between-container">
                    <p>Year:</p>
                    <input class="info-bar" [(ngModel)]="music.year" placeholder="Year" type="text"/>
                </div>
                <div class="row-display space-between-container">
                    <p>Genre:</p>
                    <input class="info-bar" [(ngModel)]="music.genre" placeholder="Genre" type="text"/>
                </div>

            </div>
        </ng-template>
    </ngx-popover>
    <button class="delete-container red-icon icon-button" (click)="deleteMusic()">
        <ng-icon name="heroTrashSolid" color="var(--color-red)" size=70/>
    </button>
</div>


<ng-template #tooltipInfos>
    <div class="tooltip-item">
        <p>Music details</p>
    </div>
</ng-template>

<ng-template #tooltipNot>
    <div class="tooltipTransparent">
    </div>
</ng-template>