.music-boxe {    
    background-color: var(--light-blue);
    border-radius: 10px;   
    margin: 5px 10px;   
    width: 80vw;
    justify-content: space-around;
  }
.music-boxe text{
    color: var(--graphite);
}
.music-boxe p{
    color: var(--graphite);
}

.positions-container {
    justify-content: center;
    width: 4vw;
}

.green-icon-button {
    --color-green: var(--green);
}

.green-icon-button:hover {
    --color-green: var(--green-transparent);
}

.img-tit-art-container {
    align-self: center;
    width: 40vw;
    font-size: 25px;
}

.reading-container {
    width: 25vw;
}

.info-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7vw;
}

.popover-container {
    height: 40vh;
    width: 30vw;
    padding: 15px 10px 10px 5px;
}

.popover-container p {
    font-size: 22px;
}

.popover-closing {
    padding: -10px;
    align-content: end;
}

.info-line{
    padding-left: -10px;
    align-content: left;
    align-self: left;
}

.info-bar{
    height: 3vh;    
    width: 60%;
    border-radius: 5px;
    border: 1px var(--dark-blue-transparent);
    background: var(--white-transparent);
    outline: none;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    margin-top: 5px;
}

.tooltipTransparent{
    opacity: 0;
}

.delete-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width:7vw;
}
