.tools-bar-boxe {
    margin: 10px;
    height: 7vh;
    overflow-y: auto;
    overflow-x: hidden;
    justify-content: space-between;
}

.right-tool-container{    
    width: 50%;
}

.search-bar{
    height: 90%;    
    width: 100%;
    border-radius: 10px;
    outline: none;
    display: flex;
    flex-direction: row;
    font-size: 25px;
    margin: 0 10px 0 0;
    padding: 0 5px;
}


.orderingTextSelected {
    font-size: 25px;
    color: var(--white)
}

.orderingTextNotSelected {
    font-size: 25px;
    color: var(--gray)
}

.left-tool-container{
    display:flex;
    width: 45%;
    justify-content: end;
}


.volume-container {
    overflow-y: hidden;
    align-self: center;
    padding:0px 2vw;
    justify-content: center;
}

.volume-range{
    width: 75%;    
    align-self: center;
    margin: 0px 0px -3px 20px;
    background: var(--light-blue);
    -webkit-appearance: none;
    appearance: none;
    height: 8px;
    border-radius: 5px;
    outline: none;
    opacity: 0.95;
    transition: opacity 0.2s;

    &:hover {
      opacity: 1;
    }

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 25px;
      height: 25px;
      background: var(--white);
      cursor: pointer;
      border-radius: 50%;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }

    &::-moz-range-thumb {
      width: 25px;
      height: 25px;
      background: var(--white);
      cursor: pointer;
      border-radius: 50%;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }
}

.load-button{
    padding: 5px 10px;
    width: 12vw;
}



