<div class="content column-display">
      
    <app-tools-bar [order]="musicListService.order" [attributeOrder]="musicListService.attributeOrder" [cantUndo]="undoActions.isEmpty()" [cantRedo]="redoActions.isEmpty()"
    (searchTriggered)="searchMusicList($event)" (orderTriggered)="ordering($event)" (volumeTriggered)="modifVolume($event)" 
    (addTriggered)="addMusics($event)" (undoTriggered)="undoAction()" (redoTriggered)="redoAction()"/>


    <div class="container-base container-boxe ">
      <div class="music-list-boxe">
          <tr *ngFor="let music of musicListService.musicList, let i = index">
              <app-music [index]="i" [maxIndex]="musicListService.length()" [music]=music
              (deleteTriggered)="removeIndex($event)" (upperTriggered)="upperMoveIndex($event)" (downTriggered)="downMoveIndex($event)"/>
          </tr>
      </div>
    </div>
    <app-save-bar (saveWorkTriggered)="saveWork()" (saveFilesTriggered)="saveFiles($event)" (downloadTriggered)="downloadFiles($event)"/>
    
    <p>Affiché : {{musicListService.length()}}, order : {{musicListService.order}}, volume : {{volume}}, size undo : {{undoActions.length()}}, size redo : {{redoActions.length()}}</p>
</div>