.music-list-boxe {
    margin: 10px;
    height: 65vh;
    overflow-y: auto;
    overflow-x: hidden;
}


/*scrollbar*/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background: var(--light-blue);
}

::-webkit-scrollbar-thumb {
    background: var(--dark-blue);
    border-radius: 10px;
}

.viewport{
    height: 100%;
    width: 100%;    
    overflow-y: auto;
    overflow-x: hidden;
}


ngx-spinner {
    z-index: 9999 !important;  /* Assurez-vous qu'il est au-dessus des autres éléments */
  }

