.music-list-boxe {
    margin: 10px;
    height: 65vh;
    overflow-y: auto;
    overflow-x: hidden;
}


/*scrollbar*/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background: var(--light-blue);
}

::-webkit-scrollbar-thumb {
    background: var(--dark-blue);
    border-radius: 10px;
}

.viewport{
    height: 100%;
    width: 100%;    
    overflow-y: auto;
    overflow-x: hidden;
}
.adding-container {
    display: flex;
    justify-content: left;    
  }

.adding-window {
    position: fixed;
    padding:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    top:87%;
    left:7%;
    z-index: 1000;
  }