.right-align{
    display: flex;
    justify-content: end;
}

.save-bar-container{
    width:fit-content;
    margin-right: -10px;
    justify-content: space-between;
}
.save-bar-button {
    margin:5px;
}