.tools-bar-boxe {
    margin: 10px;
    height: 7vh;
    overflow-y: auto;
    overflow-x: hidden;
    justify-content: space-between;
}


.search-bar{
    height: 90%;    
    border-radius: 10px;
    width: 50%;
    display: flex;
    flex-direction: row;
    font-size: 25px;
    margin: 0 10px 0 0;
    padding: 0 5px;
}

.white-icon-button {
    --color-white: var(--white);
}

.white-icon-button:hover {    
    --color-white: var(--gray);    
}

.orderingTextSelected {
    font-size: 25px;
    color: var(--white)
}

.orderingTextNotSelected {
    font-size: 25px;
    color: var(--gray)
}
